@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  width: 100%;
}

.primary-font {
  font-family: var(--font-open-sans), sans-serif !important;
}

.secondary-font {
  font-family: var(--font-philosopher), sans-serif !important;
}

main,
footer {
  background-color: #ffffff !important;
  position: relative;
  z-index: 50;
}

.image-container {
  aspect-ratio: 16 / 9;
}

.slick-slider {
  width: "100%";
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
